<div class="survey-header">
    <div class="row">
        <div class="col-md-6">
            <nav>
                <a class="header__title" ui-sref="content">Apklausos</a>
            </nav>
        </div>
        <div class="col-md-6 header__user">
            <u ng-click="$ctrl.logout()"> {{$ctrl.$storage.userName}} {{$ctrl.$storage.userSurname}} Atsijungti </u>
        </div>
    </div>
</div>