<div class="viewSurvey">
    <div class="row">
        <div class="col-sm-2">
            Rikiuoti pagal
        </div>
        <div class="col-sm-5">
            <select class="questionType form-control"
                    ng-model="$ctrl.sortBy"
                    ng-options="type.val as type.name for type in $ctrl.types">
            </select>
        </div>
        <div class="col-sm-5">
            <select class="questionType form-control"
                    ng-model="$ctrl.sortOpt"
                    ng-options="option.val as option.name for option in $ctrl.sortOption">
            </select>
        </div>
    </div>
    <div class="row searchList">
        <div class="col-sm-2">
            Ieškoti
        </div>
        <div class="col-sm-5">
            <input class="form-control" maxlength="50" placeholder="Paieška pagal pavadinimą, autorių ir datą" ng-model="$ctrl.searchText">
        </div>
    </div>
    <div class="row searchList">
        <div class="col-sm-3">
            Importuoti apklausą
        </div>
        <div class="col-sm-5">
             <button class="btn submit__button" type="file" ngf-select="$ctrl.uploadFiles($file)"> Importuoti</button>
        </div>
    </div>
    <div class="surveyTable" ng-if="$ctrl.surveyList.length > 0">
        <table class="table table-hover active">
            <thead data-test-id="grid-header">
            <tr>
                <th class="fixed-column-width-name">
                    Pavadinimas
                </th>
                <th class="fixed-column-width-author">
                    Autorius
                </th>
                <th class="fixed-column-width-number">
                    Kl. sk.
                </th>
                <th class="fixed-column-width-number">
                    Ats. sk.
                </th>
                <th class="fixed-column-width-date">
                    Data
                </th>
                <th class="fixed-column-width-actions">
                    Veiksmai
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.surveyList | orderBy:$ctrl.sortBy:$ctrl.sortOpt | filter:$ctrl.search">
                    <td>
                        {{item.surveyName}}
                    </td>
                    <td>
                        {{item.userEmail}}
                    </td>
                    <td>
                        {{item.countQuestion}}
                    </td>
                    <td>
                        {{item.countAnswer}}
                    </td>
                    <td>
                        {{item.createDate}}
                    </td>
                    <td>
                        <button class="btn submit__button" ng-click="$ctrl.viewSurvey(item.id)">Apklausa</button>
                        <button class="btn submit__button" ng-click="$ctrl.viewReport(item.id)" ng-if="item.open || item.userEmail==$ctrl.$storage.email || $ctrl.$storage.admin">Ataskaita</button>
                        <button class="btn user__notBlocked" ng-click="$ctrl.deleteSurvey(item.id)" ng-if="item.userEmail==$ctrl.$storage.email || $ctrl.$storage.admin">Ištrinti</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

