html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.8em + 0.3vw);
    background-color: #f8f8f8;
    overflow-y: scroll;
}

.header {
    margin-top: 10vmin; 
    text-align: center;
}

.header > h1{
    font-size: 3em
}

.header > h3 {
    margin-top: 2em;
}

.newQ, .delQ{
    margin-top: 30px;
  }

.newQ:hover{
    cursor: pointer;
    background-color: #bdbdbd;
}

.delQ {
    background-color: #ef9a9a;
}

.delQ:hover {
    cursor: pointer;
    color: white;
    background-color: #d32f2f;
}

.questionButtonWrap {
    display: flex;
    justify-content: space-between;
}

.title {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}

input[type='checkbox'], input[type="checkbox"]:disabled, input[type='radio']{
    margin-right: 15px;
}

.ui-view__title {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 20px 0;
}

.submit__button{
    background-color: #c5e1a5;
}

.submit__button:hover{
    cursor: pointer;
    color: white;
    background-color: #689f38;
}

textarea {
    resize: none;
}

.red-border {
    border-color: red;
    box-shadow: 0px 1px 3px #888888;
}