@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.loginWrap {
    width: 350px;
    margin: 0 auto;
    margin-top: 10vmin;
    display: flex;
    flex-direction: column; 
}

.form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
}

.form > label {
    margin-top: 1em;
    margin-bottom: 0.3em;
    width: 100%; 
    font-size: 1.2em;
}

.form > input {
    font-family: "Roboto Mono";
}

.formLogin__forgot{
    align-self: flex-start;
    margin-top: 0.5em; 
    margin-bottom: 1em;
}

.formLogin__buttonWrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formLogin__buttonWrap > button{
    font-family: "Roboto Mono";
}

.formLogin__login{
    background-color: #c5e1a5;
}  

.formLogin__buttonWrap > button:hover{
    color: white;
    cursor: pointer;
}

.formLogin__buttonWrap button:first-child{
    background-color: #c5e1a5;
}

.formLogin__buttonWrap button:first-child:hover{
    background-color: #689f38;
}