<div class="header">
    <h1>Apklausos</h1>
    <h3>Registracija<h3>
</div>

<div class="signupWrap">
    <form class="form formSignup">
        <input ng-model="$ctrl.data.name" class="form-control" type="text" placeholder="Vardas">
        <input ng-model="$ctrl.data.surname" class="form-control" type="text" placeholder="Pavardė">
        <input ng-model="$ctrl.data.password" class="form-control" type="password" name="pass" placeholder="Slaptažodis">
        <input ng-model="$ctrl.data.repeat" class="form-control" type="password" name="passAgain" placeholder="Pakartokite slaptažodį">
        <button class="formSignup__signup btn" ng-click="$ctrl.signup()">Užsiregistruoti</button>
        <a class="formLogin__forgot" ui-sref="login">Grįžti į prisijungimą</a>
    </form>
</div>
