<nav class="sidenav">
    <ul>
        <li ng-if="$ctrl.$storage.admin"><a ui-sref="manage">Valdyti Naudotojus</a></li>
        <li><a ui-sref="survey">Nauja apklausa</a></li>
        <li><a ui-sref="viewSurveys">Peržiūrėti apklausas</a></li>
    </ul>
</nav>