<form name="createSurveyForm">
    <div class="ui-view__title">Sukurti apklausą</div>
    <div class="createSurvey__head">
        <div class="row row--header no-gutters align-items-center">
                <div class="col-md-3 flex-end">
                    <label for="surveyTitle">Apklausos pavadinimas</label>
                    <label for="about">Apklausos aprašymas</label>
                </div>
                <div class="col-md-6 margin">
                    <input class="form-control" type="text" id="surveyTitle" maxlength="100" name="surveyTitle" ng-model="$ctrl.survey.surveyName" required>
                    <textarea class="form-control" id="about" maxlength="300" ng-model="$ctrl.survey.surveyDescription" required></textarea>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" ng-model="$ctrl.survey.open">
                    <label ng-click="$ctrl.survey.open = !$ctrl.survey.open" for="checkboxHeader">Vieša</label>
                </div>
        </div>
    </div>

    <div class="createSurvey__main" ng-repeat="question in $ctrl.survey.questionList">
        <div class="createSurvey__question">
            <div class="row no-gutters align-items-center">
                <div class="col-md-3 flex-end">
                    <label for="questionName">Klausimas</label>
                </div>
                <div class="col-md-6 margin">
                    <input class="form-control" type="text" maxlength="100" id="questionName" name="questionName" ng-model="question.question" required>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" checked ng-model="question.required">
                    <label ng-click="question.required = !question.required">Privalomas</label>
                </div>
            </div>
        </div>

        <div>
            <div class="createSurvey__questionType">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3 flex-end">
                        <label>Klausimo tipas</label>
                    </div>
                    <div class="col-md-auto margin">
                        <select class="questionType form-control"
                            ng-model="question.type"
                            ng-options="type.val as type.name for type in $ctrl.types">
                        </select>
                    </div>
                </div>
            </div>

            <div class="createSurvey__answers">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 margin">
                        <div ng-switch="question.type">
                            <div ng-switch-when="one">
                                <div class="oneMany">
                                    <span>Variantai</span>
                                    <div class="oneMany__answers" ng-repeat="ans in question.answerList">
                                        <input ng-model="ans.answerString" maxlength="100" class="form-control" ng-class="{shorter:  question.answerList.length > 2}" type="text" name="" required>
                                        <span ng-show="question.answerList.length > 2" ng-click="$ctrl.removeAnswer($parent.$index, $index)">X</span>
                                    </div>

                                    <a href="" class="addAnswer" ng-click="$ctrl.addNewAnswer($index)" >+ Pridėti variantą</a>
                                </div>
                            </div>
                            <div ng-switch-when="many">
                                <div class="oneMany">
                                    <span>Variantai</span>

                                    <div class="oneMany__answers" ng-repeat="ans in question.answerList">
                                        <input ng-model="ans.answerString" maxlength="100" class="form-control" ng-class="{shorter:  question.answerList.length > 2}" type="text" name="" required>
                                        <span ng-show="question.answerList.length > 2" ng-click="$ctrl.removeAnswer($parent.$index, $index)">X</span>
                                    </div>

                                    <a href="" class="addAnswer" ng-click="$ctrl.addNewAnswer($index)" >+ Pridėti variantą</a>
                                </div>

                            </div>
                            <div ng-switch-when="area">
                            </div>
                            <div ng-switch-when="integer">
                                <div class="integer">
                                    <span class="integer__title">Variantas</span>

                                    <div class="flex">
                                        <label class="integer__span" for="minVal">Minimali reikšmė</label>
                                        <input class="form-control" maxlength="50" ng-model="question.answerList[0].answerString" type="number" id="minVal" name="minVal" required>
                                    </div>

                                    <div class="flex">
                                        <label class="integer__span" for="maxVal">Maksimali reikšmė</label>
                                        <input class="form-control" maxlength="50" ng-model="question.answerList[1].answerString" type="number" id="maxVal" name="maxVal" required>
                                    </div>
                                </div>
                            </div>
                            <div class="questionButtonWrap">
                                <button class="newQ btn" ng-click="$ctrl.addNewQuestion($index)" type="button">Pridėti naują klausimą</button>
                                <button class="delQ btn" ng-show="$ctrl.survey.questionList.length > 1" ng-click="$ctrl.removeQuestion($index)" type="button">Ištrinti klausimą</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="createSurvey__submit">
        <div class="row no-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-6 margin submit--flex-end">
                <button ng-click="$ctrl.saveSurvey(createSurveyForm.$valid)" class="submit__button btn">Sukurti apklausą</button>
            </div>
        </div>
    </div>
</form>