<div class="manageUsers">
      <form name="emailForm">
          <div class="manageUsers__email">
              <div clas="row">
                  <div class="ui-view__title">Valdyti el. pašto adresus</div>
              </div>
              <div class="row no-gutters align-items-center">
                  <div class="col-md-3 margin flex-end">
                    <div>El. pašto adresas</div>
                  </div>
                  <div class="col-md-5 margin">
                    <input class="form-control" type="email" id="manageEmail" name="manageEmail" ng-model="$ctrl.newUser" required>
                  </div>
                  <div class="col-md-2 margin">
                    <div class="allowDisallowWrap">
                      <button class="email__allow btn" ng-click="$ctrl.createUser(emailForm.$valid)">Sukurti naudotoją</button>
                    </div>
                  </div>
              </div>
          </div>
      </form>

      <div class="manageUsers__find">
          <div clas="row">
              <div class="ui-view__title">Valdyti naudotojus</div>
          </div>

        <div class="row no-gutters align-items-end">
          <div class="col-md-3 margin flex-end">
            <div>Ieškoti naudotoją</div>
          </div>
          <div class="col-md-5 margin">
            <input class="form-control" name="manageUser" ng-model="$ctrl.findUser">
          </div>
          <div class="col-md-2 margin">
          </div>
        </div>
      </div>

      <div class="alert info" ng-show="$ctrl.showMessage">
        <strong>Info!</strong> Atnaujinkit naršyklę
      </div>

      <div class="manageUsers__displayUsers">
        <div class="user" ng-repeat="user in $ctrl.userList | filter:{ 'email' : $ctrl.findUser}">
          <div class="user__email">{{user.email}}</div>
          <div class="admin" ng-if="!user.admin" ng-click="user.admin = !user.admin; $ctrl.update($index)"><button class="user__notAdmin btn">Padaryti admin</button></div>
          <div class="admin" ng-if="user.admin" ng-click="user.admin = !user.admin; $ctrl.update($index)"><button class="user__admin btn">Panaikinti admin</button></div>
          <div class="blocked" ng-if="!user.blocked" ng-click="user.blocked = !user.blocked; $ctrl.update($index)"><button class="user__notBlocked btn">Užblokuoti</button></div>
          <div class="blocked" ng-if="user.blocked" ng-click="user.blocked = !user.blocked; $ctrl.update($index)"><button class="user__blocked btn">Atblokuoti</button></div>
        </div>
      </div>
</div>