.signupWrap {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.formSignup > input {
    margin-bottom: 2em;
}

.formSignup__signup{
    background-color: #c5e1a5;
    padding: 0.5em 0.7em;
    font-family: "Roboto Mono";
    border-radius: 5px;
    align-self: flex-start;
}

.formSignup__signup:hover{
    color: white;
    cursor: pointer;
    background-color: #689f38;
}

.signupMessage{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    background-color: #c5e1a5;
}