/*.createSurvey__head .col-md-6 label {*/
    /*text-align: left;*/
/*}*/

/*.createSurvey__head .col-md-6 label {*/
    /*margin-top: 1rem;*/
/*}*/

/*.createSurvey__head .col-md-6 label:first-child {*/
    /*margin-top: 0;*/
/*}*/