<form name="answerSurveyForm">
    <div class="createSurvey__head">
        <div class="row row--header no-gutters align-items-center">
            <div class="col-md-3 flex-end">
                <label for="surveyTitle">Apklausos pavadinimas</label>
                <label for="about">Apklausos aprašymas</label>
            </div>
            <div class="col-md-6 margin">
                <input class="form-control" type="text" id="surveyTitle" name="surveyTitle" ng-model="$ctrl.survey.surveyName" disabled>
                <textarea class="form-control" id="about" ng-model="$ctrl.survey.surveyDescription" disabled></textarea>
            </div>
            <div class="col-md-2">
                <input type="checkbox" ng-model="$ctrl.survey.open" disabled>
                <label ng-click="$ctrl.survey.open = !$ctrl.survey.open" for="checkboxHeader">Vieša</label>
            </div>
        </div>
    </div>

    <div class="createSurvey__main" ng-repeat="question in $ctrl.survey.questionList">
        <div class="createSurvey__question">
            <div class="row no-gutters align-items-center">
                <div class="col-md-3 flex-end">
                    <label for="questionName">Klausimas</label>
                </div>
                <div class="col-md-6 margin">
                    <input class="form-control" type="text" id="questionName" name="questionName" ng-model="question.question" disabled>
                </div>
                <div class="col-md-2">
                    <input type="checkbox" checked ng-model="question.required" disabled>
                    <label>Privalomas</label>
                </div>
            </div>
        </div>

        <div>
            <div class="createSurvey__questionType">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3 flex-end">
                        <label>Klausimo tipas</label>
                    </div>
                    <div class="col-md-auto margin">
                        <select class="questionType form-control"
                            ng-model="question.type"
                            ng-options="type.val as type.name for type in $ctrl.types" disabled>
                        </select>
                    </div>
                </div>
            </div>
            <div class="createSurvey__answers">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 margin">
                        <div ng-switch="question.type">
                            <div ng-switch-when="one">
                                <div class="oneMany">
                                    <span>Variantai</span>
                                    <div class="oneMany__answers" ng-repeat="ans in question.answerList">
                                        <input type="radio" name="val" ng-model="question.userAnswerList[0].response" ng-value="$index" ng-init="$index==0?(question.userAnswerList[0].response=val):''">
                                        <input ng-model="ans.answerString" class="form-control" ng-class="{shorter:  question.answerList.length > 2}" type="text" name="" disabled>
                                    </div>
                                </div>
                            </div>
                            <div ng-switch-when="many">
                                <div class="oneMany">
                                    <span>Variantai</span>

                                    <div class="oneMany__answers" ng-repeat="ans in question.answerList">
                                        <input type="checkbox" ng-model="ans.userAnswerList[0].response">
                                        <input ng-model="ans.answerString" class="form-control" ng-class="{shorter:  question.answerList.length > 2}" type="text" name="" disabled>
                                    </div>
                                </div>

                            </div>
                            <div ng-switch-when="area">
                                <textarea class="form-control" maxlength="200" ng-model="question.answerList[0].userAnswerList[0].response" ng-required="question.required"></textarea>
                            </div>
                            <div ng-switch-when="integer">
                                <div class="integer">
                                    <span class="integer__title">Variantas</span>

                                    <div class="flex">
                                        <label class="integer__span" for="minVal">Minimali reikšmė</label>
                                        <input class="form-control" ng-model="question.answerList[0].answerString" id="minVal" name="minVal" disabled>
                                    </div>

                                    <div class="flex">
                                        <label class="integer__span" for="maxVal">Maksimali reikšmė</label>
                                        <input class="form-control" ng-model="question.answerList[1].answerString" id="maxVal" name="maxVal" ng-required="question.required" disabled>
                                    </div>
                                    <div class="flex">
                                        <label class="integer__span" for="userVal">Pasirinkta reikšmė</label>
                                        <input class="form-control" maxlength="50" type="number" id="userVal" name="userVal" ng-model="question.answerList[0].userAnswerList[0].response" ng-required="question.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="createSurvey__submit">
        <div class="row no-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-6 margin submit--flex-end">
                <button ng-click="$ctrl.done(answerSurveyForm.$valid)" class="submit__button btn">Baigti</button>
            </div>
        </div>
    </div>
</form>